* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #0d6efd;
}

ul {
  list-style-type: none;
}

.item .title {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 2px solid rgb(143, 143, 143);
  margin: 0 20px;
  color: #0d6efd;
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}

.digital-cv {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding: 30px;
  /* height: 50vw; */
}

.item {
  background-color: white;
}

.item3 {
  grid-row: span 2;
}

/* Goal */

#goal {
  padding: 0;
}

#goal li {
  display: flex;
  gap: 40px;
  margin: 10px 20px;
  border-bottom: 1px solid rgb(216, 215, 215);
}

#goal p {
  margin-bottom: 0;
  margin-right: 30px;
}

.goal-icon {
  font-size: 24px;
  margin-left: 30px;
}

.goal-title {
  font-weight: bold;
}

/* Team - Primary*/

#team li {
  display: flex;
  gap: 30px;
  margin: 10px 0 20px 0;
  padding-right: 32px;
}

#team p {
  margin-bottom: 20px;
}

.team-icon {
  font-size: 24px;
}

.team-title {
  font-weight: bold;
}

/* Scope */

#scope {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

#scope li {
  padding-top: 10px;
  padding-right: 32px;
}

.scope-title {
  font-size: 24px;
  font-weight: bold;
}

/* Timeline */
#timeline li {
  display: flex;
  gap: 40px;
  margin: 10px 20px 10px 0;
  padding-top: 15px;
}

#timeline p {
  margin-bottom: 0;
  margin-right: 30px;
}

.horizontal {
  border-bottom: 2px dashed #00bfc2;
  margin: 0 40px 0 70px;
}

.timeline-title {
  font-weight: bold;
}

.timeline-number {
  background-color: #0d6efd;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

/* Reponsive */

@media (max-width: 1000px) {
  .digital-cv {
    display: grid;
    grid-template-columns: 1fr;
  }

  .item1 {
    height: 600px;
  }

  .item3 {
    height: 700px;
  }

  /* GOAL */

  #goal li {
    display: block;
  }

  .goal-icon {
    text-align: center;
  }

  /* Team */

  #team li {
    display: block;
  }

  .team-icon {
    text-align: center;
  }

  /* Scope */

  .item4 {
    grid-row: 2;
  }

  .item5 {
    grid-row: 4;
  }

  #scope {
    display: inline-block;
  }
}

/* Mobile */

@media (max-width: 600px) {
  .digital-cv {
    display: grid;
    grid-template-columns: 1fr;
  }

  .item1 {
    height: 650px;
  }

  .item3 {
    height: 900px;
  }

  /* GOAL */

  #goal li {
    display: block;
  }

  .goal-icon {
    text-align: center;
  }

  /* Team */

  #team li {
    display: block;
  }

  .team-icon {
    text-align: center;
  }

  /* Scope */

  .item4 {
    grid-row: 2;
  }

  .item5 {
    grid-row: 4;
  }

  #scope {
    display: inline-block;
  }
}
