/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
@media (max-width: 576px) {
  /* Banner */
  .banner_img {
    height: 60vw;
  }

  /* Navbar */

  .nav_bar {
    display: flex;
    flex-direction: column;
  }

  .avatar {
    display: none;
  }

  /* Học vấn kinh nghiệm */

  .item {
    grid-template-columns: 1fr !important;
  }

  /* Chứng chỉ */
  .cert_border_1,
  .cert_border_2 {
    border-bottom: 3px solid #fd7e14;
    margin-bottom: 16px;
    border-left: 0;
  }

  .horizontal {
    margin-top: 0;
    border-bottom: 0;
    display: none;
  }

  .cert_3 {
    margin-top: 0 !important;
  }

  /* Dự án */

  .project {
    display: block;
  }

  .project_2,
  .project_3 {
    margin-top: 24px;
  }

  .project_info {
    display: block;
  }

  .project_icon {
    margin-top: 12px;
  }

  .project_year {
    width: 15% !important;
    text-align: center;
  }

  /* Digital CV */

  .item_cv {
    display: block;
  }

  .sub_item_cv_2,
  .sub_item_cv_3,
  .sub_item_cv_4,
  .sub_item_cv_5 {
    margin-top: 18px;
  }
}
